


.backgroundimg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

}

#back1 {
  background: url(../img/2070543.jpg) no-repeat center center fixed;
  background-size: cover;
}

#back2 {
  background:  url(../img/2070543b.jpg) no-repeat center center fixed ;
  background-size: cover;

}
.logo{
	position: absolute;
	padding: 0;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.logo img{
	position: relative;

    height: 100%;
    width: 100%;


}

.logo .btlogo{

 text-align: center;

}



@keyframes backgroundchangeFadeInOut {
  0% {
    opacity:1;
  }

50%{

  opacity: 0.2;
}
  
  100% {
    opacity:1;
  }
}

#panel div:nth-of-type(1) {
  animation-delay: 6s;
}
#panel div:nth-of-type(2) {
  animation-delay: 0s;

}



#panel div {
  animation-name: backgroundchangeFadeInOut;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;


  }