#skills{
    color: white;
   /* background: url(../img/skills_res.png) no-repeat center center fixed; */
   
    position: relative;
    width: 100%;
    background-size: cover;
    padding: 70px 0px 0px 0px;
    min-height: 100%;
    

      
}

@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-250px * 16));
   }
}
.slider {
    background-image: linear-gradient(to right, transparent 0%, black 50%, transparent 100%);
    background-size: 100% 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: calc(100% + 110px);
    margin-left: -55px;
    padding: 12.5px;
    
}
.slider::before, .slider::after {
    visibility: hidden;
  
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 80s linear infinite;
    display: flex;
    width: calc(250px * 32);
}
.slider .slide {
    height: auto;
    width: 250px;

}

.skills-icon{
    filter:  drop-shadow(0px 0px 5px gray);

}




  