*{
    
}


html, body{
    height: 100%;
    width: 100%;
}

#nav-phantom{
    visibility: hidden;
}

#home{
    height: 100%;
}

.navbar{
    background-color: #354669;
    opacity: 1;
    padding: 1% 0;
    font-size: 1.2em;
    border-radius: 0;
    border: none;
    transition: top 0.5s;
    transition: padding .3s linear;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    padding: 0;
    
}

.navbar-default li button{
    background-color: rgba(0,0,0,0);
    border: none;
    color: #FFFFFF;
}

.navbar-default li button:hover, .navbar-default .navbar-nav li button:active {
    color: #050b39;
    border: none;
    background-color: #D5D5D5;
    outline: none;
    box-shadow: none;

}

.navbar-default .navbar-nav li button:focus{
    outline:none;
}


.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(224, 224, 224);
}

.landing-text h1{
    font-size: 500%;
    font-weight: 700;
}

.padding img{
    width: 100%;
}

#contact{
    color: white;
    background: url(../img/contactback.png) no-repeat center center fixed;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

.fa{
    padding: 15px;
    font-size: 25px;
    color: #FFF;
}

.fa:hover{
    color: #D5D5D5;
    text-decoration: none;
}

.icon{
    max-width: 200px;
}

@media (max-width: 768px) {
    .landing-text h1{
        font-size: 300%;
    }

    .fa {
        font-size: 20px;
        padding: 10px;
    }

    .icon{
        padding-top: 5%;
        max-width: 100px;
    }
}

.top-info{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
}

.topic{
    text-align: center;
    margin-bottom: 1em;
}

#skills{
    color: white;
    background: url(../img/skills.png) no-repeat center center fixed;
    display: table;
    height: 280px;
    position: relative;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

.static-background{
    background-color: rgba(0,0,0,0.7);
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.profile-pic{
    display: block;
    max-width: 230px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid #4e73bc;
    margin-bottom: 25px;
}

#about{

    background-image: radial-gradient(  white 0, rgb(207, 207, 207) 100%);
    
    }
.about-icon{
    display: inline-block;
    max-width: 230px;
    max-height: 300px;
    width: auto;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
}

.wrapper-about-icon{
    height: 185px;
    border-radius: 50%;
    width: 50%;
    margin: 0 auto;
}


.skill-wrapper{
    text-align: center;
    height: 200px;
    background: blue;
}

.skill-wrapper figcaption{
    visibility: hidden;
}

.container{
    padding: 0;
    
}

p{
    text-align: justify;
}


.service-icon{
	background: #ff033d;
	text-align: center;
	color: #ffffff;
}

.service-icon i {
	font-size: 45px;
	padding: 35px 9px;

}

.services-text-left{
	text-align: right;
}

.skill-lead{
    font-weight: 1000;
}

.servicos-wallpaper{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

 .servicos-wallpaper-webdev{
    background: url(../img/serv-webdev.jpg) no-repeat center center;
    background-size: cover;
 }

 .servicos-wallpaper-mobidev{
    background: url(../img/serv-mobidev.jpg) no-repeat center center;
    background-size: cover;
 }

 .servicos-wallpaper-deskdev{
    background: url(../img/serv-deskdev3.png) no-repeat center center;
    background-size: cover;
 }

 .servicos-wallpaper-database{
    background: url(../img/serv-database.png) no-repeat center center;
    background-size: cover;
 }

 /* Services Section
--------------------------------*/

.section-header .section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .section-header .section-description {
    text-align: center;
    padding-bottom: 60px;
    color: #999;
  }
  
#services {
    background: #fff;
    background-size: cover;
    padding: 0px 0 0px 0;

  }
  
  #services .box {
    padding: 50px 20px;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid #e6e6e6;
    height: 300px;
    position: relative;
    background: #fafafa;
  }
  
  #services .icon {
    position: absolute;
    top: -36px;
    left: calc(50% - 36px);
    transition: 0.2s;
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 72px;
    height: 72px;
    background: #4e73bc;
    overflow: hidden;
  }
  
  #services .icon a {
    display: inline-block;
  }
  
  #services .icon i {
    color: #fff;
    font-size: 24px;
  }
  
  #services .icon img{
    text-align: center;
    width: 72px;
    height: 72px;

  }
  #services .box:hover .icon {
    
    background: #fff;
    border: 2px solid #4e73bc;
  }
  
  #services .box:hover .icon i {
    color: #4e73bc;
  }
  
  #services .box:hover .icon a {
    color: #4e73bc;
  }
  
  #services .title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  #services .title a {
    color: #111;
  }
  
  #services .description {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-shadow:1px 1px 2px rgb(190, 190, 190);
    text-transform: capitalize;
    
  }