html, body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: fonte;
    src: url(../fonts/Abel-Regular.ttf);
   }

#nav-phantom{
    visibility: hidden;
}

#home{
    height: 100%;
}

.navbar{
    background-color: #445985;
    padding: 1% 0;
    font-size: 1.2em;
    font-family: fonte;
    border-radius: 0;
    border: none;
    transition: top 0.5s;
    margin-bottom: 20px;
    transition: padding .3s linear;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    padding: 0;
    
}

.navbar-brand{
    min-height: 55px;
    padding: 0 15px 5px;
}

.navbar-default .navbar-nav li button{
    background-color: rgba(0,0,0,0);
    border: none;
    color: #FFFFFF;
}

.navbar-default .navbar-nav li button:hover, .navbar-default .navbar-nav li button:active {
    color: #050b39;
    border: none;
    background-color: #D5D5D5;
    outline: none;
    box-shadow: none;

}

.navbar-default .navbar-nav li button:focus{
    outline:none;
}


.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(224, 224, 224);
}

.landing-text h1{
    font-size: 500%;
    font-weight: 700;
}

.padding img{
    width: 100%;
}

footer{
    width: 100%;
    background-color: #445985;
    padding: 5% 5% 10% 5%;
    color: #FFF;
}

.fa{
    padding: 15px;
    font-size: 25px;
    color: #FFF;
}

.fa:hover{
    color: #D5D5D5;
    text-decoration: none;
}

.icon{
    max-width: 200px;
}

@media (max-width: 768px) {
    .landing-text h1{
        font-size: 300%;
    }

    .fa {
        font-size: 20px;
        padding: 10px;
    }

    .icon{
        padding-top: 5%;
        max-width: 100px;
    }
}

.top-info{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
}

.topic{
    text-align: center;
    margin-bottom: 1em;
}

#skills{
    background: #f5f5f5;
}

.profile-pic{
    display: block;
    max-width: 230px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid #4e73bc;
    margin-bottom: 25px;
}

.about-icon{
    display: inline-block;
    max-width: 230px;
    max-height: 300px;
    width: auto;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
}

.wrapper-about-icon{
    height: 185px;
    border-radius: 50%;
    width: 50%;
    margin: 0 auto;
    transition: all 1s ease-in-out;
    transform: rotateY(720deg);
    border-color: 1px solid blue;
    opacity: 0;
}

.wrapper-about-icon-rotated{
    opacity: 1;
    transform: rotateY(0);
}

.about-icon{
    width: 100%;
}

.skill-wrapper{
    text-align: center;
    height: 200px;
    background: blue;
}

.skill-wrapper figcaption{
    visibility: hidden;
}

.container{
    padding: 0;
    
}

p{
    text-align: justify;
}


.service-icon{
	background: #ff033d;
	text-align: center;
	color: #ffffff;
}

.service-icon i {
	font-size: 45px;
	padding: 35px 9px;

}

.services-text-left{
	text-align: right;
}

#services{
    background: url(../img/background.jpg) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}